<!DOCTYPE html>
<html lang="en" xml:lang="en">
    <head>
        <title>Edite student</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        
    <nav>
    <a href="/">Home</a> |
    <a href="/add">Add Student</a> |
    <a href="/students">View Students</a>
    <a href="/logout" class="logout-btn">Logout</a>
    </nav>

<hr>
        <h1>Edit student</h1>
        <form method="POST">
            <label>Name
            <input type="text"
                    name="name"
                    value="{{ student[1] }}">
                    <br><br>
            </label>
            <label>Age
            <input type="number"
                    name="age"
                    value="{{ student[2] }}">
                    <br><br>
            </label>
            <label>Course
            <input type="text"
                    name="course"
                    value="{{ student[3] }}">
                    <br><br>
            </label>

            <label>Email
            <input type="email"
                    name="email"
                    value="{{ student[4] }}">
                    <br><br>
            </label>
            
            <label>Phone
            <input type="text"
                    name="phone"
                    value="{{ student[5] }}">
                    <br><br>
            </label>
            
            <label>Address
            <input type="text"
                    name="address"
                    value="{{ student[6] }}">
                    <br><br>
            </label>

            <button type="submit">update student</button>
        </form>
    </body>
    </html>
